# Ignorar todo
*


# #### Archivos que sí quiero conservar #### #

# No ignorar carpetas
!*/

# Codigo C
!*.c
!*.h

# Scripts
!*.sh

# Makefiles
!Makefile

# Control de git
!.gitignore
!*.md

# Carpeta Test sí se ignora por completo
Test/

# Ignorar comprimidos y CSV aunque alguna regla los reactivase
*.zip
*.csv
